<h2>Messages Sent To You</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Attachments</th>
    </tr>
    </thead>
    <tbody>
    <%- if @timeline_items %>
    <%-  @timeline_items.each do |item| %>
    <tr>
        <td class="id"><%=item.id %></td>
        <%- if item.text %>
        <td>Text: <%= item.text %></td>
        <%- else %>
        <td>HTML: <%= item.html %></td>
        <% end %>
        <td>
            <%- if item.attachments %>
                <%- item.attachments.each do |attachment| %>
                  <%- if attachment.content_type =~ /^image/ %>
                    <img src="/attachmentproxy?attachment=<%=attachment.id%>&timelineItem=<%=item.id%>" width="150">
                  <% else %>
                    <a href="/attachmentproxy?attachment=<%=attachment.id%>&timelineItem=<%=item.id%>">Download</a>
            <%- end %>
              <%- end %>
            <%- end %>
        </td>
    </tr>
    <%- end %>
    <%- end %>
    </tbody>
</table>